* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 15px;
  border: 2px solid teal;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.start {
  align-self: start;
}

.center {
  align-self: center;
}

.pagination {
  display: flex;
  gap: 5px;
  padding: 20px 30px;
}

.pagination__button.current {
  outline: 2px solid orangered;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  background: lightgreen;
}

.navbar__links {
  display: flex;
  gap: 2px;
}

.navbar__link {
  display: flex;
  padding: 5px;
}
